<div class="pos-f-t fixed-top header">
    <nav class="navbar navbar-inverse bg-inverse navbar-toggleable-md">
        <button class="navbar-toggler navbar-toggler-right" (click)="toggleSidebar()">
            <span class="navbar-toggler-icon"></span>
        </button>
        <a class="navbar-brand" href="javascript:void(0)" style="background-color:white;color:black;padding-left:10px;padding-right:10px;" [routerLink]="['/dashboard']">
            Our Agency&nbsp;
            <img src="../../../assets/images/company_logo.jpg" class="img-responsive" style="width:20px;height:20px;"/>
        </a>
        <div class="collapse navbar-collapse">
            <form class="form-inline my-2 my-lg-0">
                <input class="form-control mr-sm-2" type="text" placeholder="Search...">
            </form>
            <ul class="navbar-nav mt-2 mt-md-0">
                <li class="nav-item active" id="first">
                    <a class="nav-link" href="javascript:void(0)" (click)="changeLang('en')">EN</a>
                </li>
                <li class="nav-item" id="second">
                    <a class="nav-link" href="javascript:void(0)" (click)="changeLang('mk')">MK</a>
                </li>
                <li class="nav-item" id="third">
                    <a class="nav-link" href="javascript:void(0)" (click)="changeLang('fr')">FR</a>
                </li>
                <!--<li class="nav-item dropdown" ngbDropdown>
                    <a href="javascript:void(0)" class="nav-link" ngbDropdownToggle>
                        <i class="fa fa-language"></i> {{ 'language' | translate }} <b class="caret"></b>
                    </a>
                    &lt;!&ndash; TODO fix img url's &ndash;&gt;
                    <div class="dropdown-menu dropdown-menu-right">
                        <a class="dropdown-item" href="javascript:void(0)" (click)="changeLang('en')"><span style="width:50%;"> English &nbsp; </span></a>
                        <a class="dropdown-item" href="javascript:void(0)" (click)="changeLang('fr')"><span style="width:50%;"> French &nbsp; </span></a>
                        <a class="dropdown-item" href="javascript:void(0)" (click)="changeLang('mk')"><span style="width:50%;"> Macedonian &nbsp; </span></a>
                    </div>
                </li>-->
            </ul>
            <ul class="navbar-nav ml-auto mt-2 mt-md-0" *ngIf="isAuthenticated">
                <li class="nav-item dropdown" ngbDropdown>
                    <!-- <div class="dropdown"> -->
                    <a class="nav-link" href="javascript:void(0)" ngbDropdownToggle>
                        <i class="fa fa-envelope"></i> <b class="caret"></b><span class="sr-only">(current)</span>
                    </a>
                    <ul class="dropdown-menu dropdown-menu-right messages">
                        <li class="media">
                            <img class="d-flex align-self-center mr-3" src="http://i.huffpost.com/gadgets/slideshows/461162/slide_461162_6224974_sq50.jpg" alt="Generic placeholder image">
                            <div class="media-body">
                                <h5 class="mt-0 mb-1">Admin</h5>
                                <p class="small text-muted"><i class="fa fa-clock-o"></i> Yesterday at 4:32 PM</p>
                                <p class="last"> Lorem ipsum dolor sit amet, consectetur...</p>
                            </div>
                        </li>
                        <li class="media">
                            <img class="d-flex align-self-center mr-3" src="http://i.huffpost.com/gadgets/slideshows/461162/slide_461162_6224974_sq50.jpg" alt="Generic placeholder image">
                            <div class="media-body">
                                <h5 class="mt-0 mb-1">Admin</h5>
                                <p class="small text-muted"><i class="fa fa-clock-o"></i> Yesterday at 4:32 PM</p>
                                <p class="last"> Lorem ipsum dolor sit amet, consectetur...</p>
                            </div>
                        </li>
                        <li class="media">
                            <img class="d-flex align-self-center mr-3" src="http://i.huffpost.com/gadgets/slideshows/461162/slide_461162_6224974_sq50.jpg" alt="Generic placeholder image">
                            <div class="media-body">
                                <h5 class="mt-0 mb-1">Admin</h5>
                                <p class="small text-muted"><i class="fa fa-clock-o"></i> Yesterday at 4:32 PM</p>
                                <p class="last"> Lorem ipsum dolor sit amet, consectetur...</p>
                            </div>
                        </li>
                    </ul>
                </li>
                <li class="nav-item dropdown" ngbDropdown>
                    <a href="javascript:void(0)" class="nav-link" ngbDropdownToggle>
                        <i class="fa fa-bell"></i> <b class="caret"></b><span class="sr-only">(current)</span>
                    </a>
                    <ul class="dropdown-menu dropdown-menu-right">
                        <a href="javascript:void(0)" class="dropdown-item">Pending Task <span class="badge badge-info">6</span></a>
                        <a href="javascript:void(0)" class="dropdown-item">In queue <span class="badge badge-info"> 13</span></a>
                        <a href="javascript:void(0)" class="dropdown-item">Mail <span class="badge badge-info"> 45</span></a>
                        <li class="dropdown-divider"></li>
                        <a href="javascript:void(0)" class="dropdown-item">View All</a>
                    </ul>
                </li>
                <li class="nav-item dropdown" ngbDropdown>
                    <a href="javascript:void(0)" class="nav-link" ngbDropdownToggle>
                        <i class="fa fa-user"></i> Admin <b class="caret"></b>
                    </a>
                    <div class="dropdown-menu dropdown-menu-right">
                        <a class="dropdown-item" href="javascript:void(0)" [routerLink]="['/dashboard']"><i class="fa fa-tachometer"></i> {{ 'Home' | translate }}</a>
                        <a class="dropdown-item" href="javascript:void(0)" [routerLink]="['/admin-details']"><i class="fa fa-user-circle-o"></i> {{ 'Details' | translate }}</a>
                        <a class="dropdown-item" href="javascript:void(0)" [routerLink]="['/new']"><i class="fa fa-fw fa-envelope"></i> {{ 'Add new real estate' | translate }}</a>
                        <a class="dropdown-item" [routerLink]="['/dashboard']" (click)="onLoggedout()"><i class="fa fa-fw fa-sign-out"></i> {{ 'Log out' | translate }}</a>
                    </div>
                </li>
            </ul>
            <ul class="navbar-nav ml-auto mt-2 mt-md-0" *ngIf="!isAuthenticated">
                <li class="nav-item">
                    <a [routerLink]="['/login']" class="nav-link">
                        <i class="fa fa-sign-in"></i> Login
                    </a>
                </li>
            </ul>
        </div>
    </nav>
</div>
