<app-page-header [heading]="'Контакт'" [icon]="'fa-address-book'"></app-page-header>
<div class="row">
    <div class="col-md-12">
        <div class="card">
            <div class="card-header">
                Контакт
            </div>
            <div class="card-block">
                <div class="row">
                    <div class="col-md-6">
                        <div class="row">
                            <div class="col-md-4 text-right"><i class="fa fa-home"></i>&nbsp;Телефон:</div>
                            <div class="col-md-5">
                                (+389) 02 2344 433
                            </div>
                        </div>
                        <br/>
                        <br/>
                        <div class="row">
                            <div class="col-md-4 text-right"><i class="fa fa-phone"></i>&nbsp;Мобилен:</div>
                            <div class="col-md-5">
                                078 356 445
                            </div>
                        </div>
                        <br/>
                        <br/>
                        <div class="row">
                            <div class="col-md-4 text-right"><i class="fa fa-fax"></i>&nbsp;Факс:</div>
                            <div class="col-md-5">
                                (+389) 02 2344 434
                            </div>
                        </div>
                        <br/>
                        <br/>
                        <div class="row">
                            <div class="col-md-4 text-right"><i class="fa fa-hourglass"></i>&nbsp;Работно време:</div>
                            <div class="col-md-5">
                                Пон - Пет 08:00 - 20:00
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <iframe
                            src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d1763.0767004918205!2d21.424486721117358!3d41.997490772596!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x1354144b60489663%3A0x9a43f9b3c50315d0!2sBoulevard+Saint+Clement+of+Ohrid%2C+Skopje+1000!5e0!3m2!1sen!2smk!4v1502959065492"
                            frameborder="0"
                            style="overflow: hidden; height: 100%; width: 100%; position: absolute;"
                            height="100%" width="100%" allowfullscreen>
                        </iframe>
                    </div>
                </div>
                <br/>
                <div class="row">
                    <div class="col-md-6">
                        &nbsp;
                    </div>
                    <div class="col-md-6">
                        <div class="row">
                            <div class="col-md-3 text-right">
                                <i class="fa fa-address-book"></i>&nbsp; Адреса:
                            </div>
                            <div class="col-md-9">
                                бул. "Св. Климент Охридски" бр. 73, Скопје
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <br/>
        <h4 class="text-center">Контактирајте нѐ</h4>
        <br/>
        <form class="form" action="">
            <div class="row">
                <label for="email" class="col-md-3 text-right" style="padding-top:7px;">Email:</label>
                <div class="col-md-6">
                    <input class="form-control" id="email" name="email">
                </div>
            </div>
            <br/>
            <div class="row">
                <label for="text" class="col-md-3 text-right" style="padding-top:40px;">Порака:</label>
                <div class="col-md-6">
                    <textarea class="form-control" id="text" rows='6' cols='10' name="text"></textarea>
                </div>
            </div>
            <br/>
            <div class="row">
                <label class="col-md-3 text-right">&nbsp;</label>
                <div class="col-md-6">
                    <button type="button" value="Испрати" class="btn btn-success">Испрати&nbsp;<i class="fa fa-share" aria-hidden></i></button>
                </div>
            </div>
        </form>
    </div>
</div>
