.colaborator {
    height : 50px;
    width: 50px;
}

.inverse-color1 {
    background-color:dodgerblue;
    color:white;
}

.inverse-color2 {
    background-color:orange;
    color:white;
}

.inverse-color3 {
    background-color:darkmagenta;
    color:yellow;
}
