<div class="row">
    <div class="col-md-12">
        <div class="card">
            <div class="card-header">Управување со недвижности</div>
            <table class="card-block table table-hover table-striped">
                <thead>
                <tr>
                    <th>Наслов</th>
                    <th>Опис</th>
                    <th>Површина</th>
                    <th>Локација</th>
                    <th>Цена</th>
                    <th>&nbsp;</th>
                </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let realEstate of realEstates">
                        <td style="width:15%;">
                           {{realEstate.title}}
                        </td>
                        <td style="width:40%;">
                            {{realEstate.description}}
                        </td>
                        <td style="width:10%;">
                            {{realEstate.surface}} m<sup>2</sup>
                        </td>
                        <td style="width:10%;">
                            {{realEstate.location}}
                        </td>
                        <td *ngIf="realEstate.price" style="width:10%;">
                            {{realEstate.price}} $
                        </td>
                        <td *ngIf="realEstate.oldPrice" style="width:10%;">
                            <del>{{realEstate.oldPrice}}$</del>&nbsp;{{realEstate.newPrice}}$
                        </td>
                        <td style="width:15%;padding-left:0px;padding-right:0px;">
                            <a class="btn" [routerLink]="['/edit/' + realEstate.code]"><i class="fa fa-pencil-square-o" aria-hidden="true"></i></a>
                            &nbsp;
                            <a class="btn" (click)="removeRealEstate(realEstate.code)"><i class="fa fa-times" aria-hidden="true"></i></a>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
    <br/>
    <br/>
    <div class="col-md-4 offset-md-8">
        <div class="alert alert-success" role="alert" id="alert" *ngIf="showAlertMessage">
            <strong>Успешно избришан запис</strong>
        </div>
    </div>
</div>
