.button-hover:hover {
    cursor:pointer
}

.height-class {
    height:100px;
    width:100%;
}

.height-class:hover {
    cursor: pointer;
}

.title-color {
    color:#d87d2d;
}

.title-color2 {
    color:#b26420;
}

.height-class2 {
    height:350px;
    width:100%;
}

.estate-description {
    font-size:0.8em;
}

input {
    padding-left:10px;
}
